<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "layouts/simple.html" %}
{% load mathfilters %}
{% block content %}
    <!-- checkout -->
    <div class="cart-items">
        <div class="container">
            <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="/" title="Go to Home Page">Home</a>&nbsp;
                        <span>&gt;</span>
                    </li>
                    <li class="women">
                        Orders
                    </li>
                </ul>
                <ul class="previous">
                    <li><a href="/products">Continue Shopping</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <h2>MY ORDERS </h2>
            {% if orders.is_empty %}
            <div>
                <h1>You do not have any orders yet!</h1>
            </div>
            {% else %}
            <div  class="cart-gd">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Creation Date</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for o in orders %}
                    <tr>
                        <td>
                            <a href="/orders/{{o.id}}">{{ o.id }}</a>
                        </td>
                        <td>{{ o.createdAt }}</td>
                        <td>{{ o.total|div:100 }}</td>
                        <td>{{ o.status }}</td>
                        <td>
                            <form action="/orders/refund/{{o.id}}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Refund"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- //checkout -->


{% endblock %}
</body>
</html>